html
    head 
          link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
          link(rel='stylesheet', href='/stylesheets/admin.css')
          script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
          title Alfgo 
    body
        - const currentDate = new Date().toISOString().split('T')[0];
        if modal
          include modal.pug
        ul.nav.nav-tabs#myTab(role="tablist")
          li.nav-item(role="presentation")
            - const select1 =  Object.keys(errors).length === 0;
            button.nav-link#home-tab(data-bs-toggle="tab", data-bs-target="#home-tab-pane", type="button", role="tab", aria-controls="home-tab-pane",  class=Object.keys(errors).length === 0 ? "active" : "",aria-selected=select1 ) Resultados de la búsqueda
          li.nav-item(role="presentation")
            button.nav-link#profile-tab(data-bs-toggle="tab", data-bs-target="#profile-tab-pane", type="button", role="tab", aria-controls="profile-tab-pane", aria-selected="false") Editar
          li.nav-item(role="presentation")
            button.nav-link#contact-tab(data-bs-toggle="tab", data-bs-target="#contact-tab-pane", type="button", role="tab", aria-controls="contact-tab-pane", aria-selected="false") Contact
          li.nav-item(role="presentation")
            - const select4 =  Object.keys(errors).length >0;
            button.nav-link#disabled-tab(data-bs-toggle="tab", data-bs-target="#disabled-tab-pane", type="button", role="tab", aria-controls="disabled-tab-pane", class=Object.keys(errors).length > 0? "active" : "", disabled=!select4) Ingresar paciente
          form(action="/pacientes/", method="get" name="formu" class="d-flex" role="search")
            input(id="searchInput" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required)
            button(class="btn btn-outline-success" type="submit") Search  
        .tab-content#myTabContent
          .tab-pane.fade#home-tab-pane(role="tabpanel", aria-labelledby="home-tab", tabindex="0", class=Object.keys(errors).length === 0 ? "show active" : "")
            if ok && pacientes.length > 0
              form(action="/pacientes/:termino", method="get" name="siNo")
                  p ¿Se encuentra el paciente que busca?
                  input(type="radio", name="respuesta", value="si", id="si")
                  label(for="si") - Sí
                  br
                  input(type="radio", name="respuesta", value="no", id="no")
                  label(for="no") - No
              table.table.table-striped
                thead
                  tr
                    th Documento
                    th Apellido
                    th Email
                tbody
                  each paciente, index in pacientes
                    tr.fila(id=`fila-${index}`)
                      td= paciente.documento
                      td= paciente.apellido
                      td= paciente.email
            else
                if ok
                    p Paciente no registrado.
                else 
                    p     
          .tab-pane.fade#profile-tab-pane(role="tabpanel", aria-labelledby="profile-tab", tabindex="0")
            -let ruta = "/pacientes?_method=put"
            -let nombreForm = "formE"
            include form.pug
          .tab-pane.fade#contact-tab-pane(role="tabpanel", aria-labelledby="contact-tab", tabindex="0") //contacto
          .tab-pane.fade#disabled-tab-pane(role="tabpanel", aria-labelledby="disabled-tab", tabindex="0" , class=Object.keys(errors).length > 0? "show active" : "")
            -ruta="/users"
            -nombreForm = "form2"
            -const validar=true
            include form.pug 
            
    script.
      document.addEventListener("DOMContentLoaded", function() {
       let pacienteEditar=null;
       var pacient = !{pacientes !== null ? JSON.stringify(pacientes) : 'null'};
       console.log("·ssssss ",pacient);
       let ok="#{ok}";
       ok=(ok==="true")
       const tabEditar = document.getElementById('profile-tab');
       const noRadio = document.getElementById("no");
       const siRadio = document.getElementById("si");
       const searchInput = document.getElementById("searchInput");
       searchInput.addEventListener("input", () => {
              const searchTerm = searchInput.value;
              formu.action = "/pacientes/" + searchTerm;
            });
       const disabled = document.getElementById("disabled-tab");
       if(ok && (pacient==='null' || pacient.length===0)){
              disabled.removeAttribute("disabled");}
       if(siRadio){
             siRadio.addEventListener("click", () => {
               if (siRadio.checked) {
                 disabled.setAttribute("disabled", "disabled");
               }
             });
             noRadio.addEventListener("click", () => {
                 if (noRadio.checked) {
                   disabled.removeAttribute("disabled");
                 }
               });
               
             
            }
       if(form2) form2.addEventListener('submit',(e)=>{
                        if(!form2.checkValidity())e.preventDefault();
                        form2.classList.add('was-validated');
                      },false)

       formE.addEventListener('submit',(e)=>{
         if(!formE.checkValidity()){
          e.preventDefault();
         }
         formE.classList.add('was-validated');
       },false)

       //  aca verifica que sea una fecha menor   ------------------------
     
    
       //------------------------------------------
       const filas = document.querySelectorAll('.fila');
       if(filas){
          filas.forEach( (fila)=> { fila.addEventListener('click', (e)=> {
                                                                         const [,index] = e.target.parentElement.id.split('-');
                                                                        pacienteEditar=pacient[Number(index)];
                                                                        document.getElementById("nombreE").value = pacienteEditar.nombre;
                                                                        document.getElementById("apellidoE").value = pacienteEditar.apellido;
                                                                        document.getElementById("documentoE").value = pacienteEditar.documento;
                                                                        document.getElementById("fechaNacimientoE").value = pacienteEditar.fechaNacimiento;
                                                                        const campoGenero=document.getElementById("generoE");
                                                                        for (let i = 0; i < campoGenero.options.length; i++) {
                                                                            if (campoGenero.options[i].value === pacienteEditar.genero) {
                                                                              campoGenero.selectedIndex = i;
                                                                              break;
                                                                            }
                                                                        }
                                                                        document.getElementById("telefonoE").value = pacienteEditar.telefono;
                                                                        document.getElementById("direccionE").value = pacienteEditar.direccion;
                                                                        document.getElementById("emailE").value = pacienteEditar.email;
                                                                        if (pacienteEditar.embarazada === "si") 
                                                                                 document.getElementById("embarazadaESi").checked = true;
                                                                        else 
                                                                              document.getElementById("embarazadaENo").checked = true;
                                                                               
                                                                        tabEditar.click();
                                                                       }
                                                         )
                                  }
                      )
        }
        const modal=("#{modal}"!=="false")
        if(modal){
        const miModal = new bootstrap.Modal(document.getElementById('miModal'));
        miModal.show();
        }
      })

      script(src='/javascripts/inicioAdmin2.js')

