html
    head 
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
             integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
             crossorigin="anonymous")
      title Alfgo 
    body
      if modal
          include ../modal.pug
      .container
        include navBar.pug
      .container 
        .row 
          .div.col 
            h1 muestras
        .row  
          .col.mt-4
            form(method="POST", action=`/vistaTecBioq/addMuestra`, name="formMuestra" )
                input(type="hidden" name="ordenId" id="ordenId")
                .container.mt-4
                    form(method="POST" name="formOrden")
                      .col-lg-4.col-md-6.col-sm-12
                        div#listaOrden
                          ul
                        label(for="orden", class="form-label") Ordenes existentes:
                        input#orden.form-control(list="datalistOptions", name="orden", placeholder=ordenes.length===0?"No hay determiniaciones":"Type to search...",disabled= ordenes.length === 0)
                        datalist(id="datalistOptions")
                          each ord in ordenes
                            option(id=ord.id)= `${ord.Usuario.nombre} - ${ord.Usuario.documento}`
                      .container.mt-4
                          .mb-3.col-lg-3.col-md-3.col-sm-3
                              label(for="muestras", class="form-label") Ordenes:
                              each muestra in tipoM
                                .form-check
                                  input.form-check-input(type="radio", id=`muestra-${muestra.id}`, name="tipoMuestraId", value=muestra.id,required)
                                  label.form-check-label(for=`muestra-${muestra.id}`)= muestra.nombre
                      .col-lg-4.col-md-6.col-sm-12
                        label(for="entregado") Entregada
                        input(type="checkbox", id="entregado", name="entregada",value="true") 
                      .col-lg-4.col-md-6.col-sm-12
                        button.btn.btn-primary(type="submit") Enviar 
    script.   
         const modal1=("#{modal}"!=="false")
         if(modal1){
         const miModal = new bootstrap.Modal(document.getElementById('miModal'));
           miModal.show();
           }
          let ordenId=document.getElementById("ordenId")
           const listaOrden = document.getElementById('listaOrden').querySelector('ul');
       const inputOrden = document.getElementById('orden');
       const datalistOptions = document.getElementById('datalistOptions').querySelectorAll('option');      
           inputOrden.addEventListener('input', () => {
                                 const enteredValue = inputOrden.value;
                                 const options = Array.from(datalistOptions).map(option => option.value);
                                 if (options.length===0 || !options.includes(enteredValue)) {
                                     inputOrden.setCustomValidity('No ha seleccionado una determinación');
                                 } else {
                                   inputOrden.setCustomValidity('');
                                 }
                                let selectedId = null;
                                 const selectedOption = Array.from(datalistOptions).find(option => option.value === inputOrden.value);
                                       if (selectedOption) {
                                         selectedId = selectedOption.getAttribute('id');
                                         ordenId.value=selectedId
                                       } else {
                                         selectedId = null;
                                       }
               
             });