html
    head 
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
             integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
             crossorigin="anonymous")
      link(href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet")       
      title Alfgo 
    body
      if modal
          include ../modal.pug
      .container
        include navBar.pug
      form(action="/vistaTecBioq/submit", method="post" name="formu")
          .mb-3.col-lg-4.col-md-6.col-sm-12
            label(for="nombre", class="form-label") Nombre:
            input#nombre.form-control(type="text", name="eNombre", value=examen.nombre)
          .mb-3.col-lg-4.col-md-6.col-sm-12
            label(for="muestras", class="form-label") Muestras:
            each muestra in arrMuestras
              .form-check
                input.form-check-input(type="radio", id=`muestra-${muestra.id}`, name="muestras", value=muestra.id, checked=examen.TipoMuestra.nombre === muestra.nombre)
                label.form-check-label(for=`muestra-${muestra.id}`)= muestra.nombre
          .mb-3.col-lg-4.col-md-6.col-sm-12
             label(for="tipoExamen", class="form-label") Tipo examen:
             each te in arrTe
               .form-check
                 input.form-check-input(type="radio", id=`te-${te.id}`, name="tipoExamen", value=te.id, checked=examen.TipoExamen.nombre === te.nombre)
                 label.form-check-label(for=`te-${te.id}`)= te.nombre     
          .mb-3.col-lg-4.col-md-6.col-sm-12
            label(for="detalle", class="form-label") Detalle:
            textarea#detalle.form-control(name="detalle", rows="3")= examen.detalle
          .mb-3.col-lg-4.col-md-6.col-sm-12
              label(for="determinaciones", class="form-label") Determinaciones:
              each d in examen.Determinacions
                 input(type="hidden" name="deTerminacionId" value= d.id)
                 label(for="determinacion", class="form-label") Nombre:                 
                 input(type="text" class="form-control" name="nombre" value=d.nombre)
                 label(for="valorMin", class="form-label") Valor mínimo:
                 input(type="number" class="form-control" name="valorMin" step="0.1")
                 label(for="valorMax", class="form-label") Valor máximo:
                 input(type="number" class="form-control" name="valorMin" step="0.1")
                 label(for="unidad", class="form-label") Unidad:
                 input(type="number" class="form-control" name="unidad" step="0.1")
