.container.mt-4
  form(method="POST", action=`${ruta}`, name="formDeterminacion", novalidate)
    .col-lg-4.col-md-6.col-sm-12
      div#listaDets
        ul
      label(for="determinacion", class="form-label") Determinaciones existentes:
      input#determinacion.form-control(list="datalistOptions", name="determinacion", placeholder="Type to search...")
      datalist(id="datalistOptions")
        each det in arrDet
          option(id=det.id)= det.nombre
      

#acordeon.accordion
button.btn.btn-primary(type="button", id="addFieldsButton") Agregar nueva determinación    
                                      

script.
  const listaDets = document.getElementById('listaDets').querySelector('ul');
  const inputDet = document.getElementById('determinacion');
  const datalistOptions = document.getElementById('datalistOptions').querySelectorAll('option');

  inputDet.addEventListener('input', () => {
    const valorSeleccionado = inputDet.value;
    const optionExists = Array.from(datalistOptions).some(option => option.value === valorSeleccionado);
    
    if(!optionExists){
        const newOption = document.createElement('option');
      newOption.value = inputDet.value;
      datalist.appendChild(newOption);
    }
    if (optionExists) {
      const li = document.createElement('li');
      li.textContent = valorSeleccionado;
      const cruz = document.createElement('button');
      cruz.className = 'btn btn-close danger btn-sm'; 
      cruz.addEventListener('click', () => {
        li.remove();
      });

      li.appendChild(cruz);
      listaDets.appendChild(li);
      inputDet.value = '';
    }
  });

  const addBtn= document.getElementById('addFieldsButton');
  const ocultos = document.querySelectorAll('.ocultos');
  const acordeon=document.getElementById("acordeon");
  let i=0;
  addBtn.addEventListener('click', () => {
    const item=document.createElement('div');
    item.classList.add('accordion-item');
    item.innerHTML=`
          <h2 class="accordion-header">
              <button id="header-${i}" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse${i}" aria-expanded="true" aria-controls="panelsStayOpen-collapse${i}">
                   Accordion Item #1
              </button>
          </h2>
          <div id="panelsStayOpen-collapse${i}" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <div class="container">
                    <div class="row">
                        <div class="col-4" id="determinacion">
                            ${htmlDeterminacion(i)}  
                        </div>
                        <div class="col" id="valoresReferencia">
                              ${htmlTabla(i)}
                        </div>
                    </div>
                </div>
             </div>
        </div>
        
        
        `
        i++
        acordeon.appendChild(item);

  })

    



     const htmlDeterminacion=(n)=>{
        const arrDiv=[];
        for(let p=0;p<9;p++){
           const div=document.createElement(`div`);
           arrDiv.push(div)
           switch(p){
                2:3:4:  arrDiv[p].classList.add("row")
                        break;
                5:6:7:8: arrDiv[p].classList.add("col-lg-4", "col-md-6", "col-sm-12")
                        break;
              }
           }

            let label = document.createElement('label');
            label.setAttribute('for', `nombre-${n}`);
            label.textContent = 'Nombre:';
            let input = document.createElement('input');
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'text');
            input.setAttribute('name', `nombre-${n}`);
            arrDiv[6].appendChild(label);
            arrDiv[6].appendChild(input);

            label = document.createElement('label');
            label.setAttribute('for', `valorMin-${n}`);
            label.textContent = 'Valor Mínimo:';
            input = document.createElement('input');
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'number');
            input.setAttribute('name', `valorMin-${n}`);
            input.setAttribute('step', '0.1');
            arrDiv[7].appendChild(label);
            arrDiv[7].appendChild(input);

            label = document.createElement('label');
            label.setAttribute('for', `valorMax-${n}`);
            label.textContent = 'Valor Máximo:';
            input = document.createElement('input');
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'number');
            input.setAttribute('name', `valorMax-${n}`);
            input.setAttribute('step', '0.1');            
            arrDiv[8].appendChild(label);
            arrDiv[8].appendChild(input);

            label = document.createElement('label');
            label.setAttribute('for', `unidadMedida-${n}`);
            label.textContent = 'Unidad de Medida:';
            input = document.createElement('input');
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'text');
            input.setAttribute('name', `unidadMedida-${n}`);                        
            arrDiv[9].appendChild(label);
            arrDiv[9].appendChild(input);
            
            arrDiv[0].innerHTML=`<h2>Determinación</h2>`
            for(let p=2;p<5;p++)
               arr[1].appendChild(p)
            arr[2].appendChild(arr[5]);
            arr[3].appendChild(arr[6]);            
            arr[3].appendChild(arr[7]);
            arr[4].appendChild(arr[8]);

            const divElement = document.createElement('div');
            divElement.setAttribute('class', 'col-4');
            divElement.setAttribute('id', 'determinacion');
            divElement.appendChild(arr[0])            
            divElement.appendChild(arr[1])
            return divElement

        return `
                            <div class="row">
                                <h2>Determinación</h2>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <label for="nombre-${n}">Nombre:</label>
                                        <input class="form-control" type="text" name="nombre-${n}" >
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <label for="valorMin-${n}">Valor Mínimo:</label>
                                        <input class="form-control" type="number" name="valorMin-${n}"  step="0.1">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <label for="valorMax-${n}">Valor Máximo:</label>
                                        <input class="form-control" type="number" name="valorMax-${n}" step="0.1">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12 ">
                                        <label for="unidadMedida-${n}">Unidad de Medida:</label>
                                        <input class="form-control" type="text" name="unidadMedida-${n}" >
                                    </div>
                                </div>
                             </div>`}

        const htmlTabla=(n)=>{
            return`
            
        <div class="row align-items-center">
           <div class="md-6  d-flex justify-content-center">
              <h2>Valores de referencia</h2>
                <button class="btn btn-primary" type="button" >
                    <i class="bi bi-plus"></i>
                </button>
            </div>
        </div>

        <div class="row">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>Hombre</th>
                        <th>Mujer</th>
                        <th>Embarazada</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label for="edad_minima">Edad Mínima:</label>
                            <input id="hombre_edad_minima" class="form-control" type="number" name="hombre_edad_minima" required>
                        </td>
                        <td>
                            <label for="edad_minima">Edad Mínima:</label>
                            <input  class="form-control" type="number" name="mujer_edad_minima" required>
                        </td>
                        <td>
                            <label for="edad_minima">Edad Mínima:</label>
                            <input class="form-control" type="number" name="embarazada_edad_minima" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <label for="edad_maxima">Edad Máxima:</label>
                            <input class="form-control" type="number" name="hombre_edad_maxima" required>
                        </td> 
                        <td>
                            <label for="edad_maxima">Edad Máxima:</label>
                            <input class="form-control" type="number" name="mujer_edad_maxima" required>
                        </td>
                        <td>
                            <label for="edad_maxima">Edad Máxima:</label>
                            <input class="form-control" type="number" name="embarazada_edad_maxima" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="valor_minimo">Valor Mínimo:</label>
                            <input id="hombre_valor_minimo" class="form-control" type="number" name="hombre_valor_minimo" required>
                        </td>
                        <td>
                            <label for="valor_minimo">Valor Mínimo:</label>
                            <input id="mujer_valor_minimo" class="form-control" type="number" name="mujer_valor_minimo" required>
                        </td>
                        <td>
                            <label for="valor_minimo">Valor Mínimo:</label>
                            <input id="embarazada_valor_minimo" class="form-control" type="number" name="embarazada_valor_minimo" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="valor_maximo">Valor Máximo:</label>
                            <input id="hombre_valor_maximo" class="form-control" type="number" name="hombre_valor_maximo" required>
                        </td>
                        <td>
                            <label for="valor_maximo">Valor Máximo:</label>
                            <input id="mujer_valor_maximo" class="form-control" type="number" name="mujer_valor_maximo" required>
                        </td>
                        <td>
                            <label for="valor_maximo">Valor Máximo:</label>
                            <input id="embarazada_valor_maximo" class="form-control" type="number" name="embarazada_valor_maximo" required>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>`}
 
















 /*html
    head  
          script(src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
                 integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
                 crossorigin="anonymous")
          link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css")
          link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
          script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
          title Alfgo 
    body
    include navBar.pug
    .container.mt-4   
        form(action="/vistaTecBioq/submit", method="post" name="formu")
          .mb-3.col-lg-4.col-md-6.col-sm-12
            label(for="nombre", class="form-label") Nombre:
            input#nombre.form-control(type="text", name="nombre")
          .mb-3.col-lg-4.col-md-6.col-sm-12
            label(for="muestras", class="form-label") Muestras:
            input#muestras.form-control(list="muestrasOptions", name="muestras", placeholder="Type to search...")
            datalist(id="muestrasOptions")
              each muestra in arrMuestras
                option(id=muestra.id)= muestra.nombre      
          .mb-3.col-lg-4.col-md-6.col-sm-12
            label(for="detalle", class="form-label") Detalle:
            textarea#detalle.form-control(name="detalle", rows="3")
          .container.mt-4
            form(method="POST", action=`${ruta}`, name="formDeterminacion", novalidate)
              .col-lg-4.col-md-6.col-sm-12
                div#listaDets
                  ul
                label(for="determinacion", class="form-label") Determinaciones existentes:
                input#determinacion.form-control(list="datalistOptions", name="determinacion", placeholder="Type to search...")
                datalist(id="datalistOptions")
                  each det in arrDet
                    option(id=det.id)= det.nombre


            #acordeon.accordion
            button.btn.btn-primary(type="button", id="addFieldsButton") Agregar nueva determinación   
            button.btn.btn-primary(type="submit") Enviar
    
    script.
      const listaDets = document.getElementById('listaDets').querySelector('ul');
      const inputDet = document.getElementById('determinacion');
      const datalistOptions = document.getElementById('datalistOptions').querySelectorAll('option');
      
      inputDet.addEventListener('input', () => {
        const valorSeleccionado = inputDet.value;
        const optionExists = Array.from(datalistOptions).some(option => option.value === valorSeleccionado);
        if(!optionExists){
            const newOption = document.createElement('option');
            newOption.value = inputDet.value;
            datalistOption.appendChild(newOption);
        }
        if (optionExists) {
          const li = document.createElement('li');
          li.textContent = valorSeleccionado;
          const cruz = document.createElement('button');
          cruz.className = 'btn btn-close danger btn-sm'; 
          cruz.addEventListener('click', () => {
            li.remove();
          });
          li.appendChild(cruz);
          listaDets.appendChild(li);
          inputDet.value = '';
        }
      });

      const addBtn= document.getElementById('addFieldsButton');
      const ocultos = document.querySelectorAll('.ocultos');
      const acordeon=document.getElementById("acordeon");
      let i=0;

      addBtn.addEventListener('click', () => {
        const item=document.createElement('div');
        item.id=`item-${i}`
        item.classList.add('accordion-item');
            const h2Element = document.createElement('h2');
            h2Element.classList.add('accordion-header');
            const button = document.createElement('button');
            button.id = `header-${i}`;
            button.classList.add('accordion-button');
            button.setAttribute('type', 'button');
            button.setAttribute('data-bs-toggle', 'collapse');
            button.setAttribute('data-bs-target', `#panelsStayOpen-collapse${i}`);
            button.setAttribute('aria-expanded', 'true');
            button.setAttribute('aria-controls', `panelsStayOpen-collapse${i}`);
            //boton para eliminar
            const eliminarBtn=document.createElement('button')
            eliminarBtn.id=`eliminarBtn-${i}`
            eliminarBtn.classList.add("btn", "btn-close" ,"danger", "btn-sm")
           eliminarBtn.addEventListener('click', e=>{
                const[,b]=e.target.id.split("-")
                eliminarItem(`item-${b}`);
              });
           // button.textContent = `Accordion Item #${i}`;
            h2Element.appendChild(button);
            button.appendChild(eliminarBtn)
            const s=document.createElement('span');
            s.id=`s-${i}`
            button.appendChild(s);
        item.appendChild(h2Element);
            const divCollapse = document.createElement('div');
            divCollapse.id = `panelsStayOpen-collapse${i}`;
            divCollapse.classList.add('accordion-collapse', 'collapse', 'show');
            const divAccordionBody = document.createElement('div');
            divAccordionBody.classList.add('accordion-body');
            const divContainer = document.createElement('div');
            divContainer.classList.add('container');        
            divAccordionBody.appendChild(divContainer);
            const divDetValorRef = document.createElement('div');        
            divDetValorRef.classList.add('row');
            divContainer.appendChild(divDetValorRef);
            divDetValorRef.appendChild(htmlDeterminacion(i));
            divDetValorRef.appendChild(htmlTabla(i));
            divCollapse.appendChild(divAccordionBody);
        item.appendChild(divCollapse);
            i++
            acordeon.appendChild(item);
            function eliminarItem(itemId) {
                const item = document.getElementById(itemId);
               if (item) {
                    item.remove();
                }
            }

      })

      ///////////////////////////////////////////////////////////  DETERMINACIÓN
         const htmlDeterminacion=(n)=>{
          const header={}
            const arrDiv=[];
            for(let p=0;p<9;p++){
               const div=document.createElement(`div`);
               arrDiv.push(div)
               switch(p){
                    case 2:case 3:case 4:  arrDiv[p].classList.add("row")
                            break;
                    case 5:case 6:case 7:case 8: arrDiv[p].classList.add("col-lg-4", "col-md-6", "col-sm-12")
                            break;
                  }
               }
                let label = document.createElement('label');
                label.setAttribute('for', `nombre-${n}`);
                label.textContent = 'Nombre:';
                let input = document.createElement('input');
                input.setAttribute('class', 'form-control');
                input.setAttribute('type', 'text');
                input.setAttribute('name', `det-${n}[nombre-${n}]`);
                arrDiv[5].appendChild(label);
                arrDiv[5].appendChild(input);
                input.addEventListener('input',(e)=>{
                     const [,,b]=e.target.name.split("-")
                    const head=document.getElementById(`s-${b.split("]")[0]}`);
                      header.nombre=e.target.value 
                                         
                    head.textContent=JSON.stringify(header)
                  
                })
                label = document.createElement('label');
                label.setAttribute('for', `valorMin-${n}`);
                label.textContent = 'Valor Mínimo:';
                input = document.createElement('input');
                input.setAttribute('class', 'form-control');
                input.setAttribute('type', 'number');
            input.setAttribute('name', `det-${n}[valorMin-${n}]`);
            input.setAttribute('step', '0.1');
            arrDiv[6].appendChild(label);
            arrDiv[6].appendChild(input);
            input.addEventListener('input',(e)=>{
                     const [,,b]=e.target.name.split("-")
                    const head=document.getElementById(`s-${b.split("]")[0]}`);
                      header.valorMin=e.target.value                      
                    head.textContent=JSON.stringify(header)
                  
                })
            label = document.createElement('label');
            label.setAttribute('for', `valorMax-${n}`);
            label.textContent = 'Valor Máximo:';
            input = document.createElement('input');
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'number');
            input.setAttribute('name', `det-${n}[valorMax-${n}]`);
            input.setAttribute('step', '0.1');            
            arrDiv[7].appendChild(label);
            arrDiv[7].appendChild(input);
            input.addEventListener('input',(e)=>{
                     const [,,b]=e.target.name.split("-")
                    const head=document.getElementById(`s-${b.split("]")[0]}`);
                      header.valorMax=e.target.value                      
                    head.textContent=JSON.stringify(header)
                  
                })
            label = document.createElement('label');
            label.setAttribute('for', `unidadMedida-${n}`);
            label.textContent = 'Unidad de Medida:';
            input = document.createElement('input');
            input.setAttribute('class', 'form-control');
            input.setAttribute('type', 'text');
            input.setAttribute('name', `det-${n}[unidadMedida-${n}]`);                        
            arrDiv[8].appendChild(label);
            arrDiv[8].appendChild(input);
            input.addEventListener('input',(e)=>{
                     console.log(e.target.name)
                     const [,,b]=e.target.name.split("-")
                    const head=document.getElementById(`s-${b.split("]")[0]}`);
                      header.unidadMedida=e.target.value                      
                    head.textContent=JSON.stringify(header)
                  
                })            
            arrDiv[0].innerHTML=`<h2>Determinación</h2>`
            for(let p=2;p<5;p++)
               arrDiv[1].appendChild(arrDiv[p])
            arrDiv[2].appendChild(arrDiv[5]);
            arrDiv[3].appendChild(arrDiv[6]);            
            arrDiv[3].appendChild(arrDiv[7]);
            arrDiv[4].appendChild(arrDiv[8]);
            const divElement = document.createElement('div');
            divElement.setAttribute('class', 'col-4');
            divElement.setAttribute('id', 'determinacion');
            divElement.appendChild(arrDiv[0])            
            divElement.appendChild(arrDiv[1])


            return divElement
            }   
      ////////////////////////////////////////////////////     tabla
        const htmlTabla=(n)=>{     
          const header2={}   
           const titulo = document.createElement('div');
           titulo.classList.add('row', 'align-items-center');

            const innerDiv = document.createElement('div');
            innerDiv.classList.add('md-6', 'd-flex', 'justify-content-center');
            const h2 = document.createElement('h2');
            h2.textContent = 'Valores de referencia';
            titulo.appendChild(innerDiv);
            innerDiv.appendChild(h2);

            const div2 = document.createElement('div');
            div2.classList.add('row');

            const table = document.createElement('table');           
            div2.appendChild(table);

            table.classList.add('table', 'table-bordered');
            const thead = document.createElement('thead');
            const t1=document.createElement('th');
            t1.innerHTML="Hombre"            
            const t2=document.createElement('th');
            t2.innerHTML="Mujer" 
            const t3=document.createElement('th');
            t3.innerHTML="Embarazada" 
            const tbody = document.createElement('tbody');
            table.appendChild(thead);
            thead.appendChild(t1)
            thead.appendChild(t2)
            thead.appendChild(t3)
            table.appendChild(tbody);


            const arrLabel=[];
             const arrIn=[]
             const arrName=[`detR-${i}[edadMinH-${i}]`,`detR-${i}[edadMinM-${i}]`,`detR-${i}[edadMinE-${i}]`,
             `detR-${i}[edadMaxH-${i}]`,`detR-${i}[edadMaxM-${i}]`,`detR-${i}[edadMaxE-${i}]`,
             `detR-${i}[valorMinH-${i}]`,`detR-${i}[valorMinM-${i}]`,`detR-${i}[valorMinE-${i}]`,
             `detR-${i}[valorMaxH-${i}]`,`detR-${i}[valorMaxM-${i}]`,`detR-${i}[valorMaxE-${i}]`];




            const arrTr=[];
            const arrTd=[];
            let k=0;
            for(let p=0;p<12;p++){
              arrTd[p]=document.createElement('td')
              if(p<3){
                 arrLabel.push(document.createElement('label'));
                 arrLabel[p].setAttribute('for', 'edad_minima');
                 arrLabel[p].textContent = 'Edad Mínima:';                                  
                 arrIn.push(document.createElement('input'));
                 arrIn[p].classList.add("form-control")                 
                 arrIn[p].setAttribute('type', 'number');                
                 arrIn[p].setAttribute('name', arrName[p]);
                 arrIn[p].setAttribute('required', true);
                 arrTd[p].appendChild(arrLabel[p]);
                 arrTd[p].appendChild(arrIn[p])
                 if(p===0)arrIn[p].addEventListener('input',(e)=>{
                      header2.edadMinimaHombre=e.target.value 
                  
                })
                if(p===1) arrIn[p].addEventListener('input',(e)=>{
                      header2.edadMinimaEmbarazada=e.target.value  
                  
                })
                if(p===2)arrIn[p].addEventListener('input',(e)=>{
                      header2.nombre=e.target.value           
                  
                })
                 }
                 else if(p<6){
                 arrLabel.push(document.createElement('label'));
                 arrLabel[p].setAttribute('for', 'edad_max');
                 arrLabel[p].textContent = 'Edad Máxima:';                                  
                 arrIn.push(document.createElement('input'));
                 arrIn[p].classList.add("form-control")                 
                 arrIn[p].setAttribute('type', 'number');                
                 arrIn[p].setAttribute('name', arrName[p]);
                 arrIn[p].setAttribute('required', true);
                 arrTd[p].appendChild(arrLabel[p]);
                 arrTd[p].appendChild(arrIn[p])
                 }
                 else if(p<9){
                 arrLabel.push(document.createElement('label'));
                 arrLabel[p].setAttribute('for', 'valor_min');
                 arrLabel[p].textContent = 'Valor mínimo:';                                  
                 arrIn.push(document.createElement('input'));
                 arrIn[p].classList.add("form-control")                 
                 arrIn[p].setAttribute('type', 'number');                
                 arrIn[p].setAttribute('name', arrName[p]);
                 arrIn[p].setAttribute('required', true);
                 arrTd[p].appendChild(arrLabel[p]);
                 arrTd[p].appendChild(arrIn[p])
                 }
                 else if(p<12){
                 arrLabel.push(document.createElement('label'));
                 arrLabel[p].setAttribute('for', 'edad_minima');
                 arrLabel[p].textContent = 'Valor Máximo:';                                  
                 arrIn.push(document.createElement('input'));
                 arrIn[p].classList.add("form-control")                 
                 arrIn[p].setAttribute('type', 'number');                
                 arrIn[p].setAttribute('name', arrName[p]);
                 arrIn[p].setAttribute('required', true);
                 arrTd[p].appendChild(arrLabel[p]);
                 arrTd[p].appendChild(arrIn[p])
                 }
              if(k<4){
                arrTr[k]=document.createElement('tr')
                tbody.appendChild(arrTr[k])
              k++;}
            }
            for(let p=0;p<12;p++){
               if(p<3)arrTr[0].appendChild(arrTd[p]);
               else if(p<6)arrTr[1].appendChild(arrTd[p]);
                    else if(p<9)arrTr[2].appendChild(arrTd[p]);
                         else if(p<12)arrTr[3].appendChild(arrTd[p]);
            }
             
             

                
                const divElement = document.createElement('div');
                divElement.classList.add('col');
                divElement.setAttribute('id', 'valoresReferencia');
                divElement.appendChild(titulo);
                divElement.appendChild(div2);  
                return divElement;  
          }
*/