html
    head  
          script(src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
                 integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
                 crossorigin="anonymous")
          link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css")
          link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
          script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous")
          link(rel='stylesheet', href='/stylesheets/navbar.css')
          title Actualizar 
          img.imagen-centrada(src='/img/nombreLab.png', alt='Titulo') 
    body
      .container-fluid
        include navBar.pug
      .container.mt-4   
              form(action=`/vistaAdmin/editar?_method=put`, method="post" name="formu")
                .row 
                  .col-3
                    .row
                      .mb-5
                        input(type="hidden" name="id" value=orden? orden.id: "")
                        label(for="nombre", class="form-label ") Médico:
                        input#nombre.form-control(type="text", name="medico", value= orden ? orden.medico:"")
                        if errors
                            - e=errors.find(e=>e.path==='medico') 
                            if e 
                              p(class="text-danger")= e.msg
                    .row
                      .mb-5
                        label(for="nombre", class="form-label ") Diagnóstico:
                        input#nombre.form-control(type="text", name="diagnostico", value= orden? orden.diagnostico : "")
                        if errors
                            - e=errors.find(e=>e.path==='diagnostico') 
                            if e 
                              p(class="text-danger")= e.msg
                  .col 
                    .row
                      .mb-3.col-lg-3.col-md-3.col-sm-3
                         label(for="estado", class="form-label") Estados:
                         - var primerosEstados = estados.slice(0, 2);
                         each estado in primerosEstados
                           .form-check
                             input.form-check-input(type="radio", id=`estado-${estado.id}`, name="estadoId", value=estado.id required, checked= orden && (parseInt(orden.estadoId) === estado.id), disabled )
                             label.form-check-label(for=`estado-${estado.id}`)= estado.nombre
                         if errors
                            - e=errors.find(e=>e.path==='estado') 
                            if e 
                              p(class="text-danger")= e.msg    
                  .col  
                    .row
                      .col-lg-12
                         label(for="muestr", class="form-label ") Tipo De Muestra:
                         each tipoMuestra in muestras
                          .mb-3
                            h6= tipoMuestra.tipoMuestra
                            each muestra in tipoMuestra.muestras
                             .form-check.form-check-inline
                               input.form-check-input(type="checkbox", id=`muestra-${muestra.id}`, name="muestrasEntregadas", value=muestra.id, checked=muestra.entregada)
                               label.form-check-label(for=`muestra-${muestra.id}`)= muestra.entregada ? 'Entregada' : 'No entregada'
                    
                    .row     
                      .col-lg-1.col-md-2.col-sm-2    
                       button.btn.btn-primary(type="submit") Editar       

